
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
     <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    </head>

<div class = "text-center">
<h1> Set up your system</h1>

<div class = "btn-group btn-group-xl" role = "group" aria-label="Basic outlined example">

</div>
<button class = "btn btn-info" onclick= "location.href = '/ou/setup.do?$ACTION=setup'">
 Set Up System
</button>
</div>



  </body>
</html>