<!DOCTYPE html>
<html>
	<head>
	  {% load static %}
	  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

	  <script type="text/javascript">
		function validateForm(){
			if (document.forms["formData"]["q"].value == ""){
				alert("Thing you want to search must be filled out!");
        		return false;
			}
		}
		</script>
	</head>

	<body>

		<nav class="navbar navbar-light" style="background-color: #e3f2fd;"> 
      <span class="navbar-brand mb-0 h1"> >>> Organizer User >>> User Role Page</span>
    </nav>

		<h1 style="text-align: center;"> User Roles Summary <h1>
		<button type="button" class = "btn btn-primary" onclick="location.href = '/ou/userrole.do?$ACTION=home'">
			Go Back
		</button>
		<button type="button" class = "btn btn-primary" onclick="location.href = '/ou/userrole.do?$ACTION=importdata'">
			Import From CSV
		</button>
		<br>

		<form action="/ou/userrole.do" method="POST" id="formData" name="formData" onsubmit="return validateForm();">
				{% csrf_token %}
				<input type="hidden" name="$ACTION" id="$ACTION" value="list">
				<input type="hidden" name="page" id="page" value="1">
				<div class="form-row align-items-center">
					<div class="col-auto">
						<label style="font-size: 18px;">Search by usercode: </label>
					</div>
					<div class="col-auto">
						<input class = "form-control" type="text" name="q" value="{{ q }}" placeholder="Enter usercode...">
					</div>
					<div class="col-auto">
						<input class = "btn btn-secondary" type='submit' value='Submit'>
					</div>
			</div>
			<font size="3">
			<table class="table table-bordered">
				<tread>
					<tr>
						<th scope="col" width="70%"><b>usercode</b></th>
						<th scope="col" width="30%"><b>Modification</b></th>
					</tr>
				</tread>
				<tbody>
					{% for obj in page_obj %}
					<tr>
						<th scope="row">{{ obj.usercode }}</th>
						<th scope="row"><button type="button" class = "btn btn-link" onclick="location.href = '/ou/userrole.do?$ACTION=update&usercode={{ obj.usercode }}'">
							Edit Roles
						</button></th>
					</tr>
					{% endfor %}
				</tbody>
			</table>

			{% if page_obj.has_other_pages %}
				<ul class="pagination">
					{% if page_obj.has_previous %}
						<button type="button" class="btn btn-outline-dark" onclick="location.href = '/ou/userrole.do?$ACTION=list&page={{ page_obj.previous_page_number }}'">Previous</button>
					{% else %}
						<button type="button" class="btn btn-outline-dark" class="disabled">Previous</button>
					{% endif %}

					{% if page_obj.number|add:'-4' > 1 %}
							<button type="button" class="btn btn-outline-dark" onclick="location.href = '/ou/userrole.do?$ACTION=list&page={{ page_obj.number|add:'-5' }}'">&hellip;</button>
					{% endif %}

					{% for i in page_obj.paginator.page_range %}
						{% if page_obj.number == i %}
							<button type="button" class="btn btn-outline-info" class="disabled">{{ i }}</button>
						{% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
							<button type="button" class="btn btn-outline-dark" onclick="location.href = '/ou/userrole.do?$ACTION=list&page={{ i }}'">{{ i }}</button>
						{% endif %}
					{% endfor %}

					{% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
							<button type="button" class="btn btn-outline-dark" onclick="location.href = '/ou/userrole.do?$ACTION=list&page={{ page_obj.number|add:'5' }}'">&hellip;</button>
					{% endif %}

					{% if page_obj.has_next %}
						<button type="button" class="btn btn-outline-dark" onclick="location.href = '/ou/userrole.do?$ACTION=list&page={{ page_obj.next_page_number }}'">Next</button>
					{% else %}
						<button type="button" class="btn btn-outline-dark" class="disabled">Previous</button>
					{% endif %}
				</ul>
			{% endif %}
			</font>
		</form>

	</body>
</html>