<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
     <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
      <script type="text/javascript" src="{% static 'js/usermodal.js' %}"></script>

<script type="text/javascript">

function searchForm(pagenum,t,q) {
    var t_element = document.getElementById("t");
    var q_element = document.getElementById("q");
    t_element.value = t;
    q_element.value = q;
    var page = document.getElementById("page");
    page.value = pagenum;
    form.submit();
    return false;
}    

function submitForm() {
    var form = document.getElementById("formData");
    form["$ACTION"] = "search";
    form.submit();
    return false;
}


function updateUser(user) {
  console.log("back to call back");
  console.log(user);
  var href = "/ou/userrole.do?$ACTION=updaterolelistuser&rolecode=" + '{{rolecode}}' + "&users=" + user;
  console.log(href);
  location.href= href;
}

function closeModal() {
    var div = document.getElementById("modal-dialog");
    div.remove();
    var div = document.getElementById("staticBackdrop");
    div.remove();   
}



</script>


<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <span class = "navbar-brand mb-0 h1"> >>> Organze User >>> User Role Management >> User
</nav>


<button  class = "btn btn-outline-success" onclick="location.href = '/ou/userrole.do?$ACTION=rolelist'">
Go back
</button>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
onclick="selectUser('checkbox','updateUser',{{usernames}},'{{rolecode}}');">
  Launch User modal
</button>



<table class="table table-hover">
    <thead>
      <tr>
        <th>usercode</th>
        <th>username</th>
        <th>email</th>
        <th>deptcode</th>
        <th>status</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in users %}
        <tr>
          <td>{{ obj.usercode }}</td>
          <td>{{ obj.username }}</td>
          <td>{{ obj.email }}</td>
          <td>{{ obj.deptcode }}</td>
          <td>{{ obj.userstatus}}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>



  </body>
</html>

